:root{
  --background-image: url(../assets/images/1.png)
}

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 1.875rem;
  background-color: rgb(41, 55, 129);
}

.header{
  width: 100%;
  height: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0 1rem;
  margin-bottom: 3.125rem;
}
.game-container{
  display: grid;
  grid-template-columns: 4;

  padding: 0 1rem;
}


.card{
  position: relative;
  width: 196px;
  height: 221px;
  perspective: 500px;
}
.card-back,
.card-front{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-size: cover;
  background-position: center;
  transition: rotate 1s;
  backface-visibility: hidden;
  box-shadow: 0 0 10px 3px rgba(27, 22, 94, 0.6);
}

.card-front{
  background-image: linear-gradient(49deg, rgb(0 0 0 / 0.2) 50%, transparent 50%), linear-gradient(red 47%, black 47% 53%, white 53%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-front::before{
  content: '?';
  width: 75px;
  height: 75px;
  border: 6px solid black;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-back{
  background-image: var(--background-image);
  background-size: 80%;
  background-repeat: no-repeat;
  rotate: y 180deg;
  background-color: white;
}

@media (hover: hover){
  .card:hover .card-back {
    rotate: y 360deg;
  }
  .card:hover .card-front{
    rotate: y 180deg;
  }
}